{% extends 'base.html.twig' %}

{% block title %} Add Interaction {% endblock %}

{% block body %}

<div class="container mt-5">

  
    {{ form_start(form) }}

     
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
            
        <div class="row">
            <div class="col-md-6">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
            </div>
            <div class="col-md-6">
               {{ form_label(form.typeInteraction) }}
               {{ form_widget(form.typeInteraction) }}
               {{ form_errors(form.typeInteraction) }}
            </div>
            <div class="col-md-6">
                 {{ form_label(form.report) }}
               {{ form_widget(form.report) }}
               {{ form_errors(form.report) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.priority) }}
               {{ form_widget(form.priority) }}
               {{ form_errors(form.priority) }}
            </div>

             <div class="col-md-6">
                {{ form_label(form.statut) }}
               {{ form_widget(form.statut) }}
               {{ form_errors(form.statut) }}
            </div>

             <div class="col-md-6">
                {{ form_label(form.contact) }}
               {{ form_widget(form.contact) }}
               {{ form_errors(form.contact) }}
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <button type="Submit" name="Submit" class="btn btn-warning">Ajouter une interaction</button>
        </div>
    {{ form_end(form) }}
</div>

{% endblock %}